@use "../../styles/mixins" as mixins;
@use "sass:map";
@use "sass:color";

$transition-duration: 200ms;

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: ease background-color $transition-duration;

  .card {
    position: relative;
    transform: scale(0);
    opacity: 0;
    transition: ease transform $transition-duration,
      ease opacity $transition-duration;
    @include mixins.card($padding: 1rem, $show-border: false);
  }

  .open {
    transform: scale(1);
    opacity: 1;
  }

  .close {
    transform: scale(0);
    opacity: 0;
  }

  .closeBtn {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    @include mixins.button(
      $height: 1.2rem,
      $width: 1.2rem,
      $padding: 0,
      $bg-key: "secondary-btn-bg",
      $color-key: "secondary-btn-color"
    );
  }
}

.open {
  background-color: rgba(0, 0, 0, 0.3);
}

.close {
  background-color: transparent;
}
