@use "../../styles/mixins" as mixins;
@use "sass:map";
@use "sass:color";

$transition-duration: 300ms;

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 2;
  @include mixins.transition(
    $properties: "background-color",
    $duration: $transition-duration
  );

  .card {
    position: relative;
    transform: scale(0);
    opacity: 0;
    @include mixins.transition(
      $properties: "transform, opacity",
      $duration: $transition-duration
    );
    @include mixins.card($padding: 1rem, $show-border: false);
  }

  .open {
    transform: scale(1);
    opacity: 1;
  }

  .close {
    transform: scale(0);
    opacity: 0;
  }

  .icon {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    height: 1.2rem;
    width: 1.2rem;
    z-index: 10;
    cursor: pointer;

    @include mixins.themed using ($props) {
      color: map.get($props, "modal-btn");
    }
    @include mixins.transition(color);

    &:hover {
      @include mixins.themed using ($props) {
        color: color.adjust(map.get($props, "modal-btn"), $lightness: -20%);
      }
    }
  }
}

.open {
  background-color: rgba(0, 0, 0, 0.3);
}

.close {
  background-color: transparent;
}
