@use "../../../../../styles/mixins" as mixins;
@use "sass:map";

.container {
  @include mixins.card($width: 100%, $height: 100%);
  min-height: 20rem;
  display: flex;
  flex-direction: column;

  .header {
    font-size: 0.9rem;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
}
