@use "../../../../../../../styles/mixins" as mixins;
@use "sass:map";
@use "sass:color";

.title {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  text-decoration: underline;
}

.section {
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem 0 1.5rem 0;

  @include mixins.themed using ($props) {
    background-color: map.get($props, "modal-content-bg");
  }

  .row {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
    font-size: 0.75rem;

    &:not(:last-child) {
      border-bottom: 1px solid #80808033;
    }

    &.actionable {
      cursor: pointer;

      &:hover {
        @include mixins.themed using ($props) {
          background-color: color.adjust(
            map.get($props, "modal-content-bg"),
            $lightness: -5%
          );
        }
      }

      .chevron {
        padding-left: 0.3rem;
      }
    }
  }
}
