[req]
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = EXT

[dn]
CN = localhost

[EXT]
subjectAltName = DNS:localhost
keyUsage = digitalSignature
extendedKeyUsage = serverAuth
