@use "../../../../../../../styles/variables" as vars;
@use "../../../../../../../styles/mixins" as mixins;
@use "sass:map";

.container {
  height: fit-content;
  width: 280px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 10px;

  @include mixins.themed using ($props) {
    background-color: map.get($props, "draggable-item-bg");
    border: map.get($props, "draggable-item-border");
  }

  .header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      max-width: 220px;
      font-weight: bold;
    }

    .trash {
      position: absolute;
      right: 0;
      height: 1rem;
      width: 1rem;
      cursor: pointer;

      &:hover {
        color: vars.$primary-color;
      }
    }
  }

  .dragContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 1rem;

    @include mixins.themed using ($props) {
      background-color: map.get($props, "draggable-area-bg");
      border: map.get($props, "draggable-area-border");
    }
  }

  .addTask {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: vars.$primary-color;
    }
  }
}

.ghost {
  opacity: 0.3;
  color: transparent;

  @include mixins.themed using ($props) {
    border: map.get($props, "dragging-ghost-border");
  }

  & > * {
    visibility: hidden;
  }
}
