@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;
@use "sass:map";
@import "../../styles/animations";

.container {
  display: flex;
  align-items: center;

  .icon {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include mixins.themed using ($props) {
      color: map.get($props, "copy-icon");
    }

    &:hover,
    &.copied {
      color: vars.$primary-color;
    }

    &.jump {
      @include mixins.animate(jump);
    }
  }
}
