@use "../../styles/mixins" as mixins;
@use "sass:map";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  @include mixins.grid-bg;
  @include mixins.themed using ($props) {
    color: map.get($props, "font-color");
  }

  .view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;

    .tabs {
      margin-bottom: 1rem;
    }
  }
}
