@use "../../styles/mixins" as mixins;
@use "sass:map";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  @include mixins.grid-bg;
  @include mixins.themed using ($props) {
    color: map.get($props, "font-color");
  }
}
