@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;
@use "sass:map";

.switch {
  position: relative;
  width: 2.8rem;
  height: 1.4rem;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
  }

  &:focus-within {
    box-shadow: 0 0 0.25rem 0.125rem rgba(vars.$primary-color, 0.7);
  }

  @include mixins.themed using ($props) {
    background-color: map.get($props, "toggle-bg");
  }

  input {
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked ~ .slider {
      transform: translateX(1.4rem);
    }

    &:checked ~ .icon-container {
      transform: translateX(-1.4rem);
    }
  }
}

.slider {
  position: absolute;
  top: 0.15rem;
  left: 0.15rem;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: white;
  transition: transform 150ms ease;
}

.icon-container {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 150ms ease;

  .icon {
    width: 0.9rem;
    height: 0.9rem;
    color: white;
  }
}
