.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
  overflow: auto;

  .tabs {
    margin-bottom: 1rem;
  }

  .content {
    flex: 1;
    min-height: fit-content;
  }
}
