@use "../../../../styles/variables" as vars;
@use "../../../../styles/mixins" as mixins;
@use "sass:map";

.signOutContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include mixins.grid-bg;
}

.container {
  padding-top: 1rem;
  @include mixins.themed using ($props) {
    border-top: 1px solid map.get($props, "font-color");
  }

  .item {
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:hover {
      color: vars.$primary-color;
      font-weight: bold;
    }

    .icon {
      min-width: 1.5rem;
      min-height: 1.5rem;
      margin-left: 0.5rem;
    }

    .label {
      margin-left: 0.5rem;
      font-size: 0.8rem;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }
}
