@use "../../../../../../../../styles/variables" as vars;
@use "../../../../../../../../styles/mixins" as mixins;
@use "sass:map";

.container {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 0.8rem;

  @include mixins.themed using ($props) {
    background-color: map.get($props, "draggable-item-bg");
    border: map.get($props, "draggable-item-border");
  }

  .header {
    font-size: 0.75rem;
    text-decoration: underline;
  }

  .footer {
    display: flex;
    justify-content: flex-end;

    .trash {
      height: 1rem;
      width: 1rem;
      cursor: pointer;

      &:hover {
        color: vars.$primary-color;
      }
    }
  }
}

.ghost {
  opacity: 0.3;
  color: transparent;

  @include mixins.themed using ($props) {
    border: map.get($props, "dragging-ghost-border");
  }

  & > * {
    visibility: hidden;
  }
}
