@use "../../../../../../../components/modal/BaseModalContent.module.scss";
@use "../../../../../../../styles/variables" as vars;

.back {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover {
    color: vars.$primary-color;
  }
}
