@use "../../../../../../styles/mixins" as mixins;
@use "sass:map";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: 0.9rem;
    text-decoration: underline;
    margin-bottom: 1rem;
  }

  .dragWrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 10px;
    user-select: none;
    overflow-x: auto;
    @include mixins.themed using ($props) {
      background-color: map.get($props, "draggable-area-bg");
      border: map.get($props, "draggable-area-border");
    }

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }

    .dragContainer {
      min-width: fit-content;
      height: 100%;
      display: flex;
      gap: 1rem;
    }
  }
}
