@use "../../../../../../styles/variables" as vars;
@use "../create-tag/CreateTag.module.scss";

.warning {
  font-size: 0.75rem;
  color: vars.$warning-color;
  text-align: center;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.inputMsg {
  height: 1rem;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  padding-left: 0.3rem;
  color: vars.$error-color;
}
