@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;
@use "sass:map";
@use "sass:color";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;

    @include mixins.themed using ($props) {
      background-color: map.get($props, "table-bg");
    }

    tr {
      &:not(:last-child) td,
      th {
        border-bottom: 1px solid #80808033;
      }

      .dataCell {
        padding: 0.7rem 1rem;
        font-size: 0.7rem;
        text-align: left;

        &.noRecords {
          text-align: center;
        }

        &.columnHeader {
          color: vars.$primary-color;
          text-decoration: underline;
        }
      }

      .iconCell {
        width: 0;
        padding-right: 0.7rem;
        line-height: 0;
      }

      .iconCell {
        .icon {
          height: 1rem;
          width: 1rem;
          cursor: pointer;

          &:hover {
            color: vars.$primary-color;
          }
        }
      }
    }
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    gap: 1rem;

    .dropdown {
      min-width: 5rem;
    }

    .paginator {
      font-size: inherit;

      @include mixins.button($padding: 0.5rem, $bg-key: "table-bg");

      @include mixins.themed using ($props) {
        color: map.get($props, "font-color");
      }

      .icon {
        height: 0.9rem;
        width: 0.9rem;
      }
    }
  }
}
