@use "../../../../../styles/mixins" as mixins;
@use "sass:map";

.container {
  overflow: scroll;
  @include mixins.card($width: 100%);

  .header {
    font-size: 0.9rem;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
}
