@use "../../../../../../styles/mixins" as mixins;
@use "sass:map";

.addTag {
  min-width: fit-content;
  font-size: 0.75rem;
  font-family: inherit;
  @include mixins.button($height: fit-content);
}

.color {
  display: flex;
  align-items: center;

  .preview {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
}
