@use "../../../../../../styles/variables" as vars;
@use "../../../../../../styles/mixins" as mixins;
@use "sass:map";

.container {
  width: 21rem;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    text-decoration: underline;
    margin-bottom: 1.5rem;
  }

  .subtitle {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .input,
  .textarea {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0.7rem;
    font-size: 0.75rem;
    font-family: inherit;

    @include mixins.themed using ($props) {
      background-color: map.get($props, "modal-content-bg");
      color: map.get($props, "font-color");
    }
  }

  .inputError {
    height: 1rem;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    padding-left: 0.3rem;
    color: vars.$error-color;
  }

  .textarea {
    resize: none;
    margin-bottom: 2rem;
    height: 6rem;
  }

  .create {
    display: flex;
    justify-content: flex-end;

    button {
      font-size: 0.75rem;
      font-family: inherit;
      cursor: pointer;

      @include mixins.button();
    }
  }
}
