@use "../../../../../../../styles/variables" as vars;
@use "sass:map";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    font-size: 0.9rem;
    text-decoration: underline;
    margin-bottom: 1rem;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
