@use "../../../styles/variables" as vars;
@use "../../../styles/mixins" as mixins;
@use "sass:map";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;

    .icon {
      color: vars.$warning-color;
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
    }
  }

  .subtext {
    max-width: 400px;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8rem;
  }
}
