@use "../../../styles/variables" as vars;
@use "../../../styles/mixins" as mixins;
@use "sass:map";

.container {
  width: 21rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.center {
    align-items: center;
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    text-decoration: underline;
  }

  .subtitle {
    font-size: 0.75rem;
    text-align: center;
    white-space: pre-wrap;
  }

  .highlight {
    font-size: 0.75rem;
    color: vars.$warning-color;
    text-align: center;
    font-style: italic;
  }

  .back {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    cursor: pointer;

    &:hover {
      color: vars.$primary-color;
    }
  }

  .group {
    display: flex;
    flex-direction: column;
  }

  .label {
    font-size: 0.75rem;
    padding-left: 0.3rem;
  }

  .input,
  .textarea {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0.7rem;
    font-size: 0.75rem;
    font-family: inherit;

    @include mixins.themed using ($props) {
      background-color: map.get($props, "modal-content-bg");
      color: map.get($props, "font-color");
    }
  }

  .textarea {
    resize: none;
    height: 6rem;
    flex-shrink: 0;
  }

  .criticalMsg {
    height: 1rem;
    font-size: 0.7rem;
    padding-left: 0.3rem;
    color: vars.$error-color;
  }

  .colorPicker {
    :global {
      .react-colorful {
        width: 21rem;
        height: 8rem;

        &__hue {
          height: 1rem;
          border-radius: 0 0 10px 10px;
        }

        &__saturation {
          border-radius: 10px 10px 0 0;
        }

        &__saturation-pointer,
        &__hue-pointer {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    button {
      font-size: 0.75rem;
      font-family: inherit;
      cursor: pointer;

      @include mixins.button();

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
