$primary-color: rgb(31, 185, 134);
$font-family: Poppins;
$error-color: rgb(231, 112, 112);

:root {
  --light-mode-font-color: rgb(72, 76, 80);
  --dark-mode-font-color: white;
}

$themes: (
  light: (
    page-bg: white,
    grid-lines: rgb(233, 233, 233),
    font-color: var(--light-mode-font-color),
    card-bg: white,
    card-border: 1px solid rgb(213, 212, 212),
    btn-bg: #ededed,
    primary-btn-bg: $primary-color,
    primary-btn-color: var(--dark-mode-font-color),
    secondary-btn-bg: #ededed,
    secondary-btn-color: var(--light-mode-font-color),
    disabled-btn-bg: #ededed,
    disabled-btn-color: rgb(181, 181, 181),
    tooltip-bg: #ededed,
    sidebar-bg: white,
    sidebar-border: 1px solid rgb(213, 212, 212),
    toggle-bg: #ccc,
    modal-content-bg: #ededed,
    copy-icon: rgb(178, 178, 178),
    project-bg: #ededed,
    tab-bg: #ededed,
    selected-tab-bg: white,
  ),
  dark: (
    page-bg: #1c1c1c,
    grid-lines: rgb(59, 59, 59),
    font-color: var(--dark-mode-font-color),
    card-bg: #242426,
    card-border: none,
    primary-btn-bg: $primary-color,
    primary-btn-color: var(--dark-mode-font-color),
    secondary-btn-bg: #1c1c1c,
    secondary-btn-color: var(--dark-mode-font-color),
    disabled-btn-bg: rgb(174, 174, 174),
    disabled-btn-color: white,
    tooltip-bg: #111111,
    sidebar-bg: #242426,
    sidebar-border: none,
    toggle-bg: rgb(99, 99, 99),
    modal-content-bg: #1c1c1c,
    copy-icon: rgb(152, 152, 152),
    project-bg: #111111,
    tab-bg: #111111,
    selected-tab-bg: #242426,
  ),
);

$breakpoints: (
  tablet: 1200px,
);
