$primary-color: #1fb986;
$font-family: Poppins;
$error-color: #e36262;
$warning-color: #ffc107;

:root {
  --primary-color: #{$primary-color};
  --light-mode-font-color: #484c50;
  --dark-mode-font-color: white;
}

$themes: (
  light: (
    page-bg: white,
    grid-lines: #e9e9e9,
    font-color: var(--light-mode-font-color),
    card-bg: white,
    card-border: 1px solid #d5d4d4,
    btn-bg: #ededed,
    primary-btn-bg: $primary-color,
    primary-btn-color: var(--dark-mode-font-color),
    secondary-btn-bg: #ededed,
    secondary-btn-color: var(--light-mode-font-color),
    disabled-btn-bg: #ededed,
    disabled-btn-color: #b5b5b5,
    tooltip-bg: #e4e4e4,
    sidebar-bg: white,
    sidebar-border: 1px solid #d5d4d4,
    toggle-bg: #ccc,
    dropdown-bg: #ededed,
    dropdown-box-shadow: 0 0 5px #c6c6c6,
    autofill-bg: #ededed,
    autofill-box-shadow: 0 0 5px #c6c6c6,
    modal-content-bg: #ededed,
    copy-icon: #b2b2b2,
    project-bg: #ededed,
    tab-bg: #ededed,
    selected-tab-bg: white,
    table-bg: #ededed,
    snackbar-bg: white,
    snackbar-border: 1px solid #d5d4d4,
    snackbar-box-shadow: 0 0 5px #c6c6c6,
    draggable-area-bg: #ededed,
    draggable-area-border: 1px solid #d5d4d4,
    draggable-item-bg: white,
    draggable-item-border: 1px solid #d5d4d4,
    dragging-ghost-border: 1px solid $primary-color,
    tag-bg: #ededed,
  ),
  dark: (
    page-bg: #1c1c1c,
    grid-lines: #3b3b3b,
    font-color: var(--dark-mode-font-color),
    card-bg: #242426,
    card-border: none,
    primary-btn-bg: $primary-color,
    primary-btn-color: var(--dark-mode-font-color),
    secondary-btn-bg: #1c1c1c,
    secondary-btn-color: var(--dark-mode-font-color),
    disabled-btn-bg: #797979,
    disabled-btn-color: white,
    tooltip-bg: #000000,
    sidebar-bg: #242426,
    sidebar-border: 1px solid transparent,
    toggle-bg: #636363,
    dropdown-bg: #151515,
    dropdown-box-shadow: 0 0 5px black,
    autofill-bg: #151515,
    autofill-box-shadow: 0 0 5px black,
    modal-content-bg: #151515,
    copy-icon: #989898,
    project-bg: #151515,
    tab-bg: #151515,
    selected-tab-bg: #242426,
    table-bg: #151515,
    snackbar-bg: #242426,
    snackbar-border: 1px solid #242426,
    snackbar-box-shadow: 0 0 5px black,
    draggable-area-bg: #151515,
    draggable-area-border: 1px solid #151515,
    draggable-item-bg: #242426,
    draggable-item-border: none,
    dragging-ghost-border: 1px solid $primary-color,
    tag-bg: #151515,
  ),
);
